{% extends 'base.html.twig' %}

{% block title %}TimelineStep index{% endblock %}

{% block body %}
    <h1>TimelineStep index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Title</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for timeline_step in timeline_steps %}
            <tr>
                <td>{{ timeline_step.id }}</td>
                <td>{{ timeline_step.date ? timeline_step.date|date('Y-m-d') : '' }}</td>
                <td>{{ timeline_step.title }}</td>
                <td>{{ timeline_step.content }}</td>
                <td>
                    <a href="{{ path('app_timeline_step_show', {'id': timeline_step.id}) }}">show</a>
                    <a href="{{ path('app_timeline_step_edit', {'id': timeline_step.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_timeline_step_new') }}">Create new</a>
{% endblock %}
